<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% if user.is_superuser or user.is_staff %}
                <li><a href="/" class="nav-link px-2 link-secondary">На главную</a></li>
                <li><a href="{% url 'returns' %}" class="nav-link px-2 link-dark">Возвраты</a></li>
                <li><a href="{% url 'purchases' %}" class="nav-link px-2 link-dark">Список покупок</a></li>
            {% elif user.is_authenticated %}
                <li><a href="/" class="nav-link px-2 link-secondary">На главную</a></li>
                <li><a href="{% url 'purchases' %}" class="nav-link px-2 link-dark">Корзина</a></li>
                <li><a href="{% url 'returns' %}" class="nav-link px-2 link-dark">Возвраты</a></li>
            {% endif %}

        </ul>

        <div class="col-md-3 text-end">

            {% if user.is_authenticated %}
                <div class="card col-md-6"
                     style="display: block; margin-top: auto; margin-left: 24%; text-align: center">
                    <h6>{{ user.username }}</h6>
                    {{ user.wallet }} UAH
                </div>
                {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'add_product' %}">
                        <button type="button" class="btn btn-outline-primary me-2">Добавить товар</button>
                    </a>
                {% endif %}
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-primary">Выход</button>
                </a>
            {% else %}
                <a href="{% url 'registration' %}">
                    <button type="button" class="btn btn-outline-primary me-2">Регистрация</button>
                </a>
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-primary">Вход</button>
                </a>
            {% endif %}
        </div>
    </header>
</head>
<body>
{% include 'messages.html' %}
{% block content %}


{% endblock %}
{% include "pagination.html" with page=products %}</body>
</html>



